
.photos {    
    display: grid;
    margin-top: 25px;
    // grid-template-columns: 1fr;

    // img {
    //     margin: 4vh auto;
    //     height: 95vh;
    //     // width: 70vw;
    //     // max-width: 850px;
    //     // max-height: 721px;
    // }
}

@media only screen and (max-width: 950px) {
    .photos {
        grid-template-columns: 1fr;

        img {
            margin: 4vh auto;
            height: 95vh;
            // width: 70vw;
            // max-width: 850px;
            // max-height: 721px;
        }
    }
}

@media only screen and (min-width: 950px) {
    .photos {
        grid-template-columns: 1fr 1fr;

        img {
            margin: 3vh auto;
            width: 40vw;
            max-width: 546px;
            min-width: 370px;



        }
    }
}