{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}

{% block styles %}
<link rel="stylesheet" href="{% sass_src 'styles/gallery.scss' %}">
{% endblock styles %}

{% block content %}

    <section class="photos">
        <div class="frame">
            <img src="https://i.imgur.com/pr9T3kh.jpg" alt="Amy's Headshot">

        </div>

        <div class="frame">
        <img src="https://i.imgur.com/qceUhTB.jpg" alt="">
            
        </div>

        <div class="frame">
        <img src="https://i.imgur.com/gGQZaPR.jpg" alt="Amy's Headshot">
            
        </div>

        <div class="frame">
        <img src="https://i.imgur.com/PMqZMxK.jpg" alt="Amy's Headshot">
            
        </div>

        <div class="frame">
        <img src="https://i.imgur.com/oCVDMUd.jpg" alt="Amy's Headshot">
            
        </div>

        <div class="frame">
        <img src="https://i.imgur.com/7vj6VBj.jpg" alt="Amy's Headshot">
            
        </div>
    </section>

    

{% endblock content %}