{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}

{% block styles %}
<link rel="stylesheet" href="{% sass_src 'styles/gallery.scss' %}">
{% endblock styles %}

{% block content %}

    <section class="photos">
        <img src="https://i.imgur.com/PMqZMxK.jpg" alt="Amy's Headshot">
        <img src="https://i.imgur.com/PMqZMxK.jpg" alt="Amy's Headshot">
        <img src="https://i.imgur.com/PMqZMxK.jpg" alt="Amy's Headshot">
        <img src="https://i.imgur.com/PMqZMxK.jpg" alt="Amy's Headshot">
        <img src="https://i.imgur.com/PMqZMxK.jpg" alt="Amy's Headshot">
        <img src="https://i.imgur.com/PMqZMxK.jpg" alt="Amy's Headshot">
    </section>

    

{% endblock content %}